@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.photo-bg-headline {
  margin-top: 2em;
  border-radius: 50%;
}

.photo-headline {
  border-radius: 50%;
  width: 99%;
  max-width: 23em;
  margin-top: 0.5em;
  box-shadow: 14px 14px 15px -1px rgba(108, 109, 108, 0.62);
  -webkit-box-shadow: 14px 14px 15px -1px rgba(108, 109, 108, 0.62);
  -moz-box-shadow: 14px 14px 15px -1px rgba(108, 109, 108, 0.62);
}

.card-h {
  height: 40em;
}
